{{- $devcontainer := false -}}
{{- if or (eq (env "DEVPOD") "true") (eq (env "REMOTE_CONTAINERS") "true") -}}
{{-   $devcontainer = true -}}
{{- end -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $name := "Jdavid77" -}}
{{- $email := "johnynobrega17@gmail.com" -}}

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}
  devcontainer = {{ $devcontainer }}
  osid = {{ $osid | quote }}

[secret]
  command = "akeyless"
