{{- $devcontainer := false -}}
{{- if or (eq (env "DEVPOD") "true") (eq (env "REMOTE_CONTAINERS") "true") -}}
{{-   $devcontainer = true -}}
{{- end -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}


{{- $isWorkComputer := false -}}
{{- if and (not $devcontainer) (eq .chezmoi.os "darwin") -}}
{{-   $isWorkComputer = promptBoolOnce . "isWorkComputer" "Is this your work computer" -}}
{{- end -}}

{{- $hasGUI := false -}}
{{- if and (not $devcontainer) (eq $osid "linux-ubuntu") -}}
{{-   $hasGUI = promptBoolOnce . "hasGUI" "Does this machine have a GUI" -}}
{{- end -}}

{{- $name := "Jdavid77" -}}
{{- if $isWorkComputer -}}
{{-   $name = promptStringOnce . "name" "Enter your name for work computer" -}}
{{- end -}}
{{- $email := "johnynobrega17@gmail.com" -}}
{{- if $isWorkComputer -}}
{{-   $email = promptStringOnce . "email" "Enter your email for work computer" -}}
{{- end -}}

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}
  devcontainer = {{ $devcontainer }}
  osid = {{ $osid | quote }}
  hasGUI = {{ $hasGUI }}
  isWorkComputer = {{ $isWorkComputer }} 

[secret]
  command = "akeyless"

