{{- $devcontainer := false -}}
{{- if or (eq (env "DEVPOD") "true") (eq (env "REMOTE_CONTAINERS") "true") -}}
{{-   $devcontainer = true -}}
{{- end -}}

{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $name := "João Nóbrega" -}}
{{- $email := "johnynobrega17@gmail.com" -}}

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}
  devcontainer = {{ $devcontainer }}
  osid = {{ $osid | quote }}

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1zj85hde5j7fka0kjk36f642jkcsl34h5gaehrzndkdd3whaw5fts4esld3"