[user]
	name = {{ .name }}
	email = {{ .email }}
{{- if not .isWorkComputer }}
	signingkey = ~/.ssh/id_ed25519.pub
{{- else }}
	signingkey = ~/.ssh/id_rsa.pub
{{- end }}
[gpg]
	format = ssh
[pull]
	rebase = true
[init]
{{- if not .isWorkComputer }}
	defaultBranch = main
{{- else }}
	defaultBranch = master
{{- end }}
[push]
	autoSetupRemote = true
[commit]
	gpgSign = true
[core]
	editor = nvim
