#!/usr/bin/env bash
{{ if and (not .devcontainer) (eq .chezmoi.os "darwin") -}}
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ if .isWorkComputer -}}
{{ range concat .packages.brews.common .packages.brews.work -}}
brew {{ . | quote }}
{{ end -}}
{{ range concat .packages.casks.common .packages.casks.work -}}
cask {{ . | quote }}
{{ end -}}
{{ else -}}
{{ range concat .packages.brews.common .packages.brews.personal -}}
brew {{ . | quote }}
{{ end -}}
{{ range concat .packages.casks.common .packages.casks.personal -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
EOF
{{ end -}}
